In [14]:
import pandas as pd

torvet= pd.read_csv("./data/torvet.csv",sep=";", header=None)
torvet=torvet.drop([5,3], axis=1)
for index in torvet.index:
    torvet.iloc[index,2]=torvet.iloc[index,2].replace('.','')
    if(torvet.iloc[index,2].isdigit()):
        torvet.iloc[index,2]=float(torvet.iloc[index,2])
    else:
        torvet.iloc[index,2]=None
        
    torvet.iloc[index,0]=torvet.iloc[index,0].replace('Audi','').strip()

bool_matrix=torvet.isnull() 
only_null_filter = bool_matrix.any(axis=1)
missing = torvet[only_null_filter]
torvet.dropna(inplace = True)
col=torvet.columns
torvet=torvet.rename(columns={col[0]: "model",col[1]: 'price',col[2]:"km",col[3]:'year'})
torvet.loc[1500:1600]

     model   price      km  year
1500    A6  374800   90000  2017
1501    A6  399800  148000  2017
1502    A6  464900   95000  2016
1503    A6    3013  114000  2018
1504    A6  819000   28000  2021
...    ...     ...     ...   ...
1596    A6  599900    7000  2019
1597    A6  554900   19000  2020
1598    A6  524900    4000  2021
1599    A6  249900  148000  2015
1600    A6  239900  139000  2011

[101 rows x 4 columns]

In [12]:
basen= pd.read_csv("./data/basen.csv",sep=";", header=None)

basen.head(20)

,0,1,2,3,4
0,"Audi A3 2,0 TDi 150 Sport S-tr.",80.0,2018,Østjylland,"22,7 km/l"
1,Audi e-tron 55 Advanced quattro,11.0,2020,Fyn,-
2,"Audi Q5 2,0 TDi 190 S-line quattro S-tr.",102.0,2017,Østjylland,"20,4 km/l"
3,"Audi A3 1,4 TFSi 150 Sport Sportback",29.0,2017,København,"21,3 km/l"
4,Audi e-tron S quattro,4.0,2021,København,-
5,"Audi Q3 1,4 TFSi 150 Limited Edition",45.0,2018,Syd- og Vestsjælland,"18,2 km/l"
6,"Audi RS4 2,9 TFSi Avant quattro Tiptr.",46.0,2018,København,"11,4 km/l"
7,"Audi SQ5 3,0 TFSi quattro Tiptr.",54.0,2018,Syd- og Sønderjylland,"12,0 km/l"
8,Audi e-tron 50 S-line quattro,11.0,2021,København,-
9,"Audi A3 1,4 e-tron Sportback S-tr.",48.0,2018,Syd- og Vestsjælland,"35,1 km/l"
10,"Audi RS7 4,0 TFSi Sportback quattro Tiptr.",79.0,2014,Lolland-Falster,"10,2 km/l"
11,"Audi A6 3,0 TDi 326 Competition Avant quattro ...",132.0,2016,Syd- og Vestsjælland,"15,6 km/l"
12,"Audi A6 3,0 TDi 326 Competition Avant quattro ...",132.0,2016,Syd- og Vestsjælland,"15,6 km/l"
13,Audi A3 35 TFSi Prestige Sportback S-tr.,6.0,2021,Østjylland,"22,9 km/l"
14,"Audi A4 2,0 TDi 190 S-line Avant quattro S-tr.",102.0,2017,Syd- og Sønderjylland,"22,2 km/l"
15,"Audi A4 2,0 TDi 190 S-line Avant quattro S-tr.",102.0,2017,Syd- og Sønderjylland,"22,2 km/l"
16,Audi A3 35 TFSi Prestige Sportback,6.0,2021,Fyn,"22,9 km/l"
17,Audi Q3 35 TFSi Advanced S-tr.,13.0,2020,Fyn,"18,6 km/l"
18,"Audi A3 2,0 TDi 140 Ambition Sportback",261.0,2011,Nordjylland,"22,7 km/l"
19,"Audi Q5 2,0 TFSi 252 Sport quattro S-tr.",17.0,2017,Syd- og Sønderjylland,"14,1 km/l"